<main>
    <h1>Edit game</h1>
    <% if @game && @game.errors.any? %>
    <div class="validation_error">
        <p><strong><%= @game.errors.uniq.count %> <%= @game.errors.uniq.count > 1 ? "errors" : "error"%> prohibited this game from being saved:</strong></p>
        <ul>
            <% @game.errors.full_messages.uniq.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <form method="post" action="/games/<%=@game.id%>" id="edit_form" class="form">
        <input type='hidden' name='_method' value="patch"/>
        <div class="form-item">
            <label for="name">Name:</label>
            <input type="text" name="game[name]" id="name" placeholder="Name" value="<%=@game.name%>" />
        </div>
        <div class="form-item">
            <label for="short_descriptiom">Short description:</label>
            <input type="text" name="game[short_description]" id="short_description" placeholder="Short description" value="<%=@game.short_description%>" />
        </div>
        <div class="form-item">
            <label for="description">Description:</label>
            <textarea  name="game[description]" id="description" placeholder="Description"><%=@game.description%></textarea>
        </div>
        <div class="form-item form-types">
            <label>Type:</label>
            <div class="form-select-wrapper">
                <%Type.all.each { |type| %>
                    <div class="form-select-item">
                        <div class="form-select"><input type="radio" name="game[type_id]" value="<%= type.id %>" <%= if @game.type_id == type.id then "checked" end %> /></div>
                        <div><%=type.name%></div>
                    </div>
                <%}%>
            </div>
        </div>
        <% if !Tag.all.empty? %>
        <div class="form-item form-tags">
            <label>Tags:</label>
            <div class="form-select-wrapper">
                <%Tag.all.each { |tag| %>
                    <div class="form-select-item">
                        <div class="form-select"><input type="checkbox" name="[tag_ids][]" value="<%= tag.id %>" <%= if @game.tag_ids.include?(tag.id) then "checked" end %> /></div>
                        <div><%=tag.name%></div>
                    </div>
                <%}%>
            </div>
        </div>
        <% end %>
        <div class="form-item form-new-tag">
            <label for="new_tag">New tag:</label>
            <input type="text" name="new_tag" id="new_tag" placeholder="New tag" value="<%=@new_tag%>" />
            <% if flash.has?(:add_tag_message) %>
                <div class="flash-message" style="display:inline-block"><%=flash[:add_tag_message]%></div>
            <% end %>
        </div>
    </form>
    <form action="/games/<%=@game.id%>" method="post" id="delete_form">
        <input type='hidden' name='_method' value="delete" />
    </form>
    <input type="submit" value="Edit game" form="edit_form" />
    <input type="submit" value="Delete game" form="delete_form">
</main>