<div class="full">
    <main class="main">
        <% if flash.has?(:message) %>
            <div class="flash-message"><%=flash[:message]%></div>
        <% end %>
        <%if logged_in?%>
        <div class="game-listing-new-game">
            <a href='games/new'>New game</a>
        </div>
        <%end%>
        <h1>All games</h1>
        <div class="game-listing-wrapper">
            <% @games.each { |game| %>
                <div class="game-listing-item">
                <%if game.featured == 1%>
                            <h4 style="text-align:center;">Featured</h4>
                        <%end%>
                    <div class="game-listing-item-img">
                        <a href="/games/<%=game.id%>"><img src="../../../uploads/<%=game.image%>"/></a>
                    </div>
                    <div class="game-listing-item-details">
                        <h4><a href="/games/<%=game.id%>"><%=game.name%></a></h4>
                        <h5><%=game.short_description%></h5>
                        <ul>
                            <li>Type: <a href='/types/<%=game.type.id%>'><%=game.type.name%></a></li>
                        </ul>
                        
                    </div>
                </div>
            <% } %>
        </div>
    </main>
</div>