<main>
    <h1>Games tagged "<%=@tag.name%>"</h1>
    <%@tag.games.each { |game|%>
        <div><a href="/games/<%=game.id%>"><%=game.name%></a> - <%=game.type.name%> - <%=game.short_description%></div>
    <%}%>
</main>